

.hero-overlay {
position: absolute;
inset: 0;
background: rgba(0, 0, 0, 0.6);
}

.hero-container {
position: relative;
padding: 0 80px;
color: #fff;
max-width: 700px;
}

.hero-small {
font-size: 14px;
letter-spacing: 2px;
opacity: 0.9;
}

.hero-title {
font-size: 52px;
margin: 10px 0;
}

.hero-title span {
color: #f4c27a;
}

.hero-subtitle {
font-size: 18px;
opacity: 0.9;
}

/* ABOUT */
.container {
max-width: 1200px;
margin: auto;
padding: 100px 20px;
}

.about-grid {
display: grid;
grid-template-columns: 1fr 1.2fr;
gap: 60px;
align-items: center;
}

.about-image img {
width: 100%;
border-radius: 14px;
}

.about-content h2 {
font-size: 32px;
margin-bottom: 20px;
}

.about-content p {
font-size: 16px;
line-height: 1.7;
color: #444;
margin-bottom: 16px;
}

.read-more {
color: #e63946;
text-decoration: none;
font-weight: 500;
}

/* FEATURES */
.features-grid {
display: grid;
grid-template-columns: repeat(3, 1fr);
gap: 30px;
}

.feature-card {
background: #fff;
padding: 30px;
border-radius: 14px;
box-shadow: 0 15px 40px rgba(0, 0, 0, 0.08);
}

.feature-card h4 {
font-size: 18px;
margin-bottom: 10px;
}

.feature-card p {
font-size: 14px;
color: #555;
line-height: 1.6;
}
@media (max-width: 600px){

  /* HERO */
  .hero-container{
    padding: 0 20px;
    max-width: 100%;

  }

  .hero-small{
    font-size: 12px;
    letter-spacing: 1.5px;
  }

  .hero-title{
    font-size: 30px;
    margin: 8px 0;
  }

  .hero-subtitle{
    font-size: 14px;
    line-height: 1.5;
  }

  /* ABOUT */
  .container{
    padding: 60px 15px;
  }

  .about-grid{
    grid-template-columns: 0.5fr;
    gap: 30px;
    margin-left: 140px;
  }

  .about-content h2{
    font-size: 24px;
    margin-bottom: 14px;
    
  }

  .about-content p{
    font-size: 14px;
    line-height: 1.6;
    
  }

  /* FEATURES */
  .features-grid{
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .feature-card{
    padding: 22px;
    border-radius: 12px;
  }

  .feature-card h4{
    font-size: 16px;
  }

  .feature-card p{
    font-size: 13px;
    line-height: 1.5;
  }
  .about-image{
  display: flex;
  justify-content: center;
}

.about-image img{
  width: 260px;        /* size change kar sakte ho */
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 15px 40px rgba(0,0,0,0.15);
}

}
